<template>
<Auth>
  <div>
    <h1>Product View</h1>
  </div>
  </Auth>
</template>
<script>
import Auth from '../components/AuthView.vue'
export default {
  components: {
    Auth
  }

}
</script>
<style></style>
