<template>
  <div></div>
</template>
<script>
export default {
  components: {
    // eslint-disable-next-line vue/no-unused-components
    isLogin () {
      return this.$store.getters['auth/isLogin']
    }
  },
  watch: {
    isLogin (newValue, ownValue) {
      if (!newValue) {
        this.$router.push('/login')
      }
    }
  },
  mounted () {
    if (!this.isLogin) {
      this.$router.push('/login')
    }
  }
}
</script>
<style></style>
